html
{
  scroll-behavior: smooth;
}

body
{
  background-color: rgb(0,0,0);
  width: 100%;
  padding: 0;
  margin: 0;
  color: rgb(250, 250, 250);
}


main
{
  width: 100%;
  margin-top:0px;
  text-align: center;
}

footer
{
  width: 100%;
  margin-top: 300px;
  padding-top: 150px;
  padding-bottom: 10px;
  background-image: url('../img/muhmorMarbl2K.png');
  background-size: 1920px 1080px;
  background-attachment: fixed;
  background-position: center;
}

footer b
{
  padding-left: 15px;
  padding-bottom: 10px;
}

.OpeningPage
{
  width: 100%;
  height: 100vh;
  text-align: center;
  user-select: none;
  z-index: 0;
}

.OpeningPage .iconbox
{
  bottom: 70px;
  width: 100%;
  position: absolute;
  text-align: center;
}

.OpeningPage .iconbox img
{
  height: 50px;
  width: 50px;
}

.OpeningPage h1
{
  font-size: 60px;
}
.OpeningPage h2
{
  font-size: 40px;
}
.OpeningPage h3
{
  font-size: 20px;
}

.LogoShaderContainer
{
  width: 100%;
  height: 50%;
}

.LogoShader
{
  margin: 0;
  z-index: 10;
}

.ProjectsPage
{
  width: 100%;
  background-color: rgb(201, 201, 189);
  color: black;
  padding-bottom: 100px;

}

.projectgroup-title
{
  padding-top: 150px;
  text-align: left;
  width: 82%;
  max-width: 920px;
  font-size: 70px;
  margin: auto;
  margin-bottom: 80px;
  border-bottom: solid 2px white;
}

.projectgroup
{
  width: 80%;
  max-width: 856px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 15px;
}

.projectbox
{
  display: inline-table;
  margin: 1%;
  margin-bottom: 2%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.1s;
}

.projectbox h1{
  position: absolute;
  font: 46px "Trebuchet Ms", monospace;
  max-width: 400px;
  padding-left: 15px;
  margin-top: 70px;
  color:  white;
  font-weight: bold;
  text-shadow: 0 4px 0px rgb(80,80,80), 0 5px 0px black, 1px 0 0px black, -1px 0 0px black, 0 3px 5px black;
  pointer-events:none;
}

.projectbox h2{
  position: absolute;
  max-width: 400px;
  padding-left: 17px;
  margin-top: 120px;
  color: rgb(210,210,210);
  font: 20px "Trebuchet Ms", monospace;
  font-weight:lighter;
  text-shadow: 0 1px 0px rgb(80,80,80), 0 2px 0px black, 0 1px 2px black, 0 0 2px black;
  pointer-events:none;
}

.bigbox
{
  height: 150px;
  width: 96.5%;
  max-width: 856px;
  display: inline-table;
}

.mediumbox
{
  height: 150px;
  width: 47%;
  max-width: 428px;
  display: inline-table;
}

.smallbox
{
  height: 150px;
  width: 22.25%;
  max-width: 428px;
  display: inline-table;
}

.projectbox .iconbox{
  height:40px;
  right: 0;
  float:right;
  pointer-events:none;
}

.projectbox .iconbox img{
  height: 40px;
  width: 40px;
}

.highlightbanner
{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  transition: background-color 0.2s;
}

.highlightbanner:hover
{
  background-color: rgba(255,255,255,0.2);
}

.highlightbanner:active
{
  background-color: rgba(255,208,0,0.2);
}

.arrow {
  position: absolute;
  bottom: 25px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  animation: bottomarrowanim 3s infinite;
  transition: transform 0.5s;
}

@keyframes bottomarrowanim {
  0%   {   bottom: 15px;  }
  50%   {   bottom: 25px; }
  100%   {   bottom: 15px;  }
}
